<h3>{{(user.selectedUsr$ | async)?.name}}</h3>
<proleit-user-list-item
  *ngFor="let usr of user.userList; even as e; odd as o"
  [ngClass]="{even: e, odd: o}"
  [user]="usr"
  [isSelected]="(user.selectedUsr$ | async)?.id===usr.id"
  (selectUsr)="setSelectedUser ($event)"
>
</proleit-user-list-item>

<ng-container *ngIf=" user.selectedUsr$ | async as selected; else add">
  <button
          proleitDangerBtn="soll {{selected.name}} entfernt werden"
          (confirmed)="confirmed($event)"
  >del user</button>
  <button (click)="updateSelectedUser()">update</button>
</ng-container>
<ng-template #add>
  <button (click)="createNewUser()">+</button>
</ng-template>
