<!--

<h1>{{title}} {{loading | async}}</h1>
-->
<h1>{{title}} </h1>

<nav>
  <a  routerLink="home" routerLinkActive="active">home</a> |
  <a routerLink="user" routerLinkActive="active">user</a> |
  <a routerLink="samples" routerLinkActive="active">samples</a>
</nav>

<!--

<proleit-countdown></proleit-countdown>
<proleit-countdown style="width: 100%"></proleit-countdown>
<proleit-countdown style="width: 100px"></proleit-countdown>
<proleit-bindings></proleit-bindings>

<proleit-user>
</proleit-user>

<proleit-content-sample>
  <span #info>transkludiere mich</span>
  <proleit-user></proleit-user>
  <proleit-user></proleit-user>

  <proleit-bindings></proleit-bindings>

</proleit-content-sample>

<proleit-ng-if-sample></proleit-ng-if-sample>
<proleit-ng-for-sample></proleit-ng-for-sample>
<proleit-pipe-sample></proleit-pipe-sample>
<proleit-rxjs-samples></proleit-rxjs-samples>
<proleit-user></proleit-user>
-->

<hr>
<router-outlet></router-outlet>
<hr>
















<footer style="font-size: small">
  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda commodi fuga obcaecati quia veniam? Dolor dolore explicabo in quisquam sint! Animi consequatur eum ipsa ipsum laborum quis rem velit voluptate?
</footer>
