<h1>{{title}}</h1>
<!--

<proleit-countdown></proleit-countdown>
<proleit-countdown style="width: 100%"></proleit-countdown>
<proleit-countdown style="width: 100px"></proleit-countdown>
<proleit-bindings></proleit-bindings>

<proleit-user>
</proleit-user>

<proleit-content-sample>
  <span #info>transkludiere mich</span>
  <proleit-user></proleit-user>
  <proleit-user></proleit-user>

  <proleit-bindings></proleit-bindings>

</proleit-content-sample>

<proleit-ng-if-sample></proleit-ng-if-sample>
<proleit-ng-for-sample></proleit-ng-for-sample>
<proleit-pipe-sample></proleit-pipe-sample>
-->
<proleit-user></proleit-user>


<router-outlet></router-outlet>
