.width-sample {
  display: block;
  width: 300px;
  background: red;
}

.box-red {
  background-color: red;
  color: white;
}
.box-green {
  background-color: green;
  color: white;
}
.box-selected {
  text-decoration: underline;
}
